C-Sharp-Projects/Database-Applications/XmlParsers/XmlBasics/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:all>
              <xs:element name="name" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="birthday" type="xs:date" />
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="university" type="xs:string" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element minOccurs="0" name="facultyNumber" type="xs:string" />
              <xs:element name="takenExams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="dateTaken" type="xs:date" />
                          <xs:element name="grade" type="xs:decimal" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="endorsements ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="endorsement">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="author" type="xs:string" />
                          <xs:element name="authorEmail" type="xs:string" />
                          <xs:element name="endorsementDate" type="xs:date" />
                          <xs:element name="endorsementText" type="xs:string" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
